.news-item {
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
  border-bottom: 1px solid #73d8d8;
}

.news-content {
  flex: 1;
  margin-right: 40px;
}

.news-source {
  font-size: 14px;
  color: #888;
}

.news-title {
  font-size: 18px;
  margin: 5px 0;
  color: #000;
  word-wrap: break-word; 
}

.news-description {
  font-size: 14px;
  color: #555;
  word-wrap: break-word; 
}

.news-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}
